<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>라니케이크</title>
    <link rel="stylesheet" href="./lib/css/reset.css">
    <link rel="stylesheet" href="./lib/css/base.css">
    <link rel="stylesheet" href="./lib/css/fonts.css">
    <link rel="stylesheet" href="./lib/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="./css/layout.css">
    <link rel="stylesheet" href="./css/style.css">

    <script src="./lib/js/jquery-1.12.4.js"></script>
    <script src="./lib/js/swiper-bundle.min.js"></script>
    <script src="./js/custom.js"></script>

</head>

<body>
    <header class="header">
        <div class="inner hd_wrap">
            <nav class="gnb">
                <ul>
                    <li><a href="">BRAND</a> </li>
                    <li><a href="">CAKE</a>
                        <ul>
                            <li><a href="">프리미엄 케이크</a></li>
                            <li><a href="">레터링 케이크</a></li>
                            <li><a href="">생화 플라워 케이크</a></li>
                            <li><a href="">추가상품</a></li>
                        </ul>
                    </li>
                    <li><a href="">COMMUNITY</a>
                        <ul>
                            <li><a href="">REVIEW</a></li>
                            <li><a href="">FAQ</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <h1>
                <a href="/">
                    <img src="./images/logo.png" alt="">
                </a>
            </h1>
            <div class="utils">
                <ul>
                    <li><a href="">LOGIN</a></li>
                    <li><a href="">JOIN</a></li>
                    <li><a href="">ORDER</a></li>
                    <li><a href="">MYSHOP</a></li>
                </ul>
            </div>
        </div>
        <button class="mbtn">
            <span>
                <em class="blind">mobile menu button</em>
            </span>
        </button>
    </header>

    <main id="content">
        <section class="main_picture">
            <h2 class="blind">main picture</h2>

            <div class="inner">
                <div class="img_box">
                    <img src="./images/main_sub01.jpg" alt="">
                </div>
            </div>
        </section>

        <section class="main_write">
            <h2 class="blind">main write</h2>
            <div class="inner">
                <figure>
                    <img src="./images/main_brand.png" alt="">
                </figure>
                <div class="txt_box">
                    <strong>라니케이크는 정성스러운 선물 케이크를 제작합니다.<br>
                        진실, 감사의 의미를 담은 코럴색상과 제비꼬치 모양의 리본을 사용한 로고는<br>
                        많은 분들의 소중한 순간, 순간에 정성스럽고 진실된 선물로 다가가려는<br>
                        라니케이크의 진심이 담겨있습니다.</strong>
                    <span>신선하고 질 좋은 최고급 재료만을 엄선하여<br>
                        전문 파티쉐가 재료 손질부터 포장까지 직접 모든 과정을 함께 합니다.<br>
                        모든 순간에 누가 되지 않도록, 정성을 담아 제작할 것을 약속합니다.</span>
                </div>
            </div>



        </section>




    </main>


    <footer class="footer">
        <div class="inner">
            <div class="fo_box">
                <a href="">
                    <img src="./images/facebook.svg" alt="">
                </a>
                <a href="">
                    <img src="./images/instagram.svg" alt="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li><a href="">BRAND </a></li>
                    <li><a href=""> AGREEMENT </a></li>
                    <li><a href="">PRIVACY </a></li>
                    <li><a href=""> POLICY </a></li>
                    <li><a href="">GUIDE</a></li>
                </ul>
            </div>
            <div class="remain">
                <ul>
                    <li>COMPANY : 주식회사 원모먼트 </li>
                    <li> OWNER : 박건태 </li>
                    <li>ADDRESS : 서울특별시 서초구 강남대로45길 20 (서주빌딩) 102호</li>
                </ul>
            </div>
            <div class="remain_02">
                <ul>
                    <li>CALL : 02-512-8189 / 월~금 10:00~17:00 (점심시간 13~14시) </li>
                    <li> EMAIL : rani@ranicake.com</li>
                    <li> BUSUNESS LICENSE : 307-81-47910 </li>
                    <li> [사업자정보확인] </li>
                    <li> MALL ORDER LICENSE : 제 2019-서울서초-3339</li>
                </ul>
            </div>
            <address>COPYRIGHT &copy; 주식회사 원모먼트 ALL RIGHTS RESERVED.</address>
        </div>
    </footer>
</body>

</html>