<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>라니케이크</title>
    <link rel="stylesheet" href="./lib/css/reset.css">
    <link rel="stylesheet" href="./lib/css/base.css">
    <link rel="stylesheet" href="./lib/css/fonts.css">
    <link rel="stylesheet" href="./lib/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="./css/layout.css">
    <link rel="stylesheet" href="./css/style.css">

    <script src="./lib/js/jquery-1.12.4.js"></script>
    <script src="./lib/js/swiper-bundle.min.js"></script>
    <script src="./js/custom.js"></script>

</head>

<body>
    <header class="header">
        <div class="inner hd_wrap">
            <nav class="gnb">
                <ul>
                    <li><a href="">BRAND</a> </li>
                    <li><a href="">CAKE</a>
                        <ul>
                            <li><a href="">프리미엄 케이크</a></li>
                            <li><a href="">레터링 케이크</a></li>
                            <li><a href="">생화 플라워 케이크</a></li>
                            <li><a href="">추가상품</a></li>
                        </ul>
                    </li>
                    <li><a href="">COMMUNITY</a>
                        <ul>
                            <li><a href="">REVIEW</a></li>
                            <li><a href="">FAQ</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <h1>
                <a href="/">
                    <img src="./images/logo.png" alt="">
                </a>
            </h1>
            <div class="utils">
                <ul>
                    <li><a href="">LOGIN</a></li>
                    <li><a href="">JOIN</a></li>
                    <li><a href="">ORDER</a></li>
                    <li><a href="">MYSHOP</a></li>
                </ul>
            </div>
        </div>
        <button class="mbtn">
            <span>
                <em class="blind">mobile menu button</em>
            </span>
        </button>
    </header>

    <main id="content">
        <section class="main_cake">
            <h2 class="kr_font">프리미엄 케이크</h2>
            <div class="inner">
                <div class="main_open">
                    <div class="img_box">
                        <figure>
                            <img src="./images/main_content02.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>약과 케이크</strong>
                            <p>26,500원</p>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure>
                            <img src="./images/main_cake02.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>무지개 폭탄 케이크</strong>
                            <p>31,000원</p>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure>
                            <img src="./images/main_cake03.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>스마일 케이크</strong>
                            <p>26,000원</p>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure class="sold">
                            <img src="./images/main_cake04.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>산리오 피규어케이크 (폼폼푸린)</strong>
                            <p>품절</p>
                            <i>곧 준비할게요!</i>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure class="sold">
                            <img src="./images/main_cake05.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>산리오 피규어케이크 (헬로키티)</strong>
                            <p>품절</p>
                            <i>곧 준비할게요!</i>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure class="sold">
                            <img src="./images/main_cake06.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>산리오 피규어케이크 (시나모롤)</strong>
                            <p>품절</p>
                            <i>곧 준비할게요!</i>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure class="sold">
                            <img src="./images/main_cake07.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>산리오 피규어케이크 (마이멜로디)</strong>
                            <p>품절</p>
                            <i>곧 준비할게요!</i>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure>
                            <img src="./images/main_content01.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>레몬 얼그레이 케이크</strong>
                            <p>26,000원</p>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure>
                            <img src="./images/main_content06.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>티아라 케이크</strong>
                            <p>27,000원</p>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure>
                            <img src="./images/main_cake08.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>민트 초코 케이크</strong>
                            <p>28,000원</p>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure>
                            <img src="./images/main_cake09.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>폭죽케이크-옐로우</strong>
                            <p>28,500원</p>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure>
                            <img src="./images/main_cake010.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>더블 말차 갸또 케이크</strong>
                            <p>30,500원</p>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure>
                            <img src="./images/main_cake011.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>발로나 자허 토르테 케이크</strong>
                            <p>30,500원</p>
                        </div>
                    </div>
                    <div class="img_box">
                        <figure>
                            <img src="./images/main_cake012.jpg" alt="">
                        </figure>
                        <div class="txt_box02">
                            <strong>제주 당근 케이크</strong>
                            <p>27,900원</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>


    <footer class="footer">
        <div class="inner">
            <div class="fo_box">
                <a href="">
                    <img src="./images/facebook.svg" alt="">
                </a>
                <a href="">
                    <img src="./images/instagram.svg" alt="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li><a href="">BRAND </a></li>
                    <li><a href=""> AGREEMENT </a></li>
                    <li><a href="">PRIVACY </a></li>
                    <li><a href=""> POLICY </a></li>
                    <li><a href="">GUIDE</a></li>
                </ul>
            </div>
            <div class="remain">
                <ul>
                    <li>COMPANY : 주식회사 원모먼트 </li>
                    <li> OWNER : 박건태 </li>
                    <li>ADDRESS : 서울특별시 서초구 강남대로45길 20 (서주빌딩) 102호</li>
                </ul>
            </div>
            <div class="remain_02">
                <ul>
                    <li>CALL : 02-512-8189 / 월~금 10:00~17:00 (점심시간 13~14시) </li>
                    <li> EMAIL : rani@ranicake.com</li>
                    <li> BUSUNESS LICENSE : 307-81-47910 </li>
                    <li> [사업자정보확인] </li>
                    <li> MALL ORDER LICENSE : 제 2019-서울서초-3339</li>
                </ul>
            </div>
            <address>COPYRIGHT &copy; 주식회사 원모먼트 ALL RIGHTS RESERVED.</address>
        </div>
    </footer>
</body>

</html>